/* This file is there to manage the "responsive" part of my site;
* this site is basicly disigned by the laptop,so we don need to touch his part 
*/



@media (max-width: 1024px) {
    .project:nth-child(1){
        margin-top: 1rem;
    }

    .project {
        flex-direction: column;
        align-items: center;
        margin-top: 6rem;
    }

    .project > .project-summary {
        width: 80%;
    }

    .separator{
        display: none;
    }

    .project > .project-summary:nth-child(1) > img {
        max-width: 100%;
        max-height: 80vh;
        width: auto;
        height: auto;
    }
}


/* For the tablet(<768px) */


@media (max-width: 768px) {

    nav{
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin-inline: auto;
        background-color: var(--background-basic);
        padding-bottom: .5rem;
    }

    nav > * {
        margin-inline: 1rem;
    }


    nav > #burger-menu-container{
        width: 3rem;
        height: 3rem;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav > #burger-menu-container > div{
        background-color: var(--text-basic);
        height: 4px;
        width: 100%;
    }

    nav > #burger-menu-container > div:nth-child(1){
        /* transform: translateY(1.4rem) rotate(90deg); */
        transform: translateY(1.4rem) rotate(45deg);
    }

    nav > #burger-menu-container > div:nth-child(2){
        display: none;
    }

    nav > #burger-menu-container > div:nth-child(3){
        transform: translateY(1.1rem) rotate(-45deg);
    }


    nav > .links {
        flex-direction: column; 
        margin-inline: auto;
        padding: 0;
        width: 100%;
    }

    nav > .links li{
        width: 100%;
        margin-inline: 0px;
    }

    nav > .links li > a{
        display: block;
        padding-inline: 1.5rem;
        width: var(100% - 1.5rem);
    }

    /* nav retracted state */
    nav.retracted-state {
        flex-direction: row;
        background-color: transparent;
    }

    nav.retracted-state > .links, nav.retracted-state > #contact-btn {
        display: none;
    }

    nav.retracted-state > #burger-menu-container{
        width: 3rem;
        height: 3rem;
        margin-left: auto;
        transform: none;
    }

    nav.retracted-state > #burger-menu-container > div{
        background-color: var(--text-basic);
        height: 4px;
        width: 100%;
        margin-top: 10px;
        display: block;
        transform: none;
    }


    #contact-btn{
        margin-right: .5rem;
        margin-inline-start: auto;
        margin-top: .6rem;
        padding: .8rem;
        width: fit-content;
    }

    #contact-section{
        flex-direction: column;
        align-items: center;
    }

    #contact-section > * {
        width: 100%;
        margin-inline: auto;
        padding: 1rem;
    }

    .contact-form-container{
        max-width: calc(600px - 2rem); /** 2rem is the total paddinng of contact section */
    }

    #footer .about-me {
        flex-direction: column;
    }

    #notice-popup{
        width: 85vw;
        left: calc(50vw - 45vw);
        top: calc(45vh);
    }

    #notice-popup footer .notice-ok-btn{
        padding: .8rem;
    }
}

@media (max-width: 425px) {
    #projects{
        width: 100%;
    }

    .project > .project-summary {
        width: 90%;
    }

    .project-summary > .title {
        font-size: xx-large;
    }

    #contact-section {
        padding-inline: .2rem;
    }

    #contact-section > * {
        width: 90vw;
        margin-inline: auto;
        padding-inline: .2rem;
        margin-inline: auto;
    }
    .contact-infos-container{
        width: 100%;
    }
    .contact-form-container{
        padding: 1rem;
    }

    #footer{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #footer .about-me > * {
        width: 100%;
    }

    .horizontal-separator{
        width: 100%;
    }

    .copyright-container{
        display: flex;
        flex-direction: column;
    }

    .copyright-container > *{
        margin-top: 1rem;
    }

}