:root{
    --primary: #d87d0f; /* orange button */
    --primary-dark: #b2640f; /* orange button */
    --foreground: white; /* seconda text color - white */  
    --text-basic: #131416; /* first text color - black  */ 
    --background-basic: #131516; /* white backgroun with points  */
    --radius-size: 0.2rem;
}

*{
    margin: 0;
    padding: 0;
    color: var(--text-basic);
    transition-duration: 0.5s;
}

h2, h3{
    text-align: center;
    margin-top: 2rem;
}
h2{
    font-size: x-large;
}

a{
    text-decoration: none;
    color: var(--text-basic);
    display: inline-block;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0.5rem;
    /* position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: 1; */
}

nav > *{
    margin-inline: auto;
}
nav > .logo{
    margin-left: 2rem;
    margin-right: 0;
    width: 4rem;
}

nav > .links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    margin-left: 4rem;
}

nav > .links li{
    margin-inline: 1rem;
}
nav > .links li > a{
    padding: 0.8rem;
    padding-inline: 1.5rem;
    font-weight: bold;
    font-size: 1.2rem;
}
nav > .links li > a:hover{
    color: var(--primary);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--primary);
}

.btn{
    background-color: var(--primary);
    padding: 0.5rem;
    padding-inline: 1rem;
    border: none;
    border-radius: 0.2rem;
    font-weight: bold;
    color: var(--foreground);
}
.btn:hover{
    background-color: var(--primary-dark);
}

#contact-btn{
    margin-right: 4rem;
    padding-inline: 2rem;
    cursor: pointer;
}

#main-title{
    color: var(--primary);
    text-align: center;
    margin-top: 10%;
    font-size: 3.5rem;
}
#main-description{
    text-align: center;
    max-width: 300px;
    margin-inline: auto;
    margin-top: 3%;
    font-size: larger;
}

#main-download-btn{
    display: block;
    margin-inline: auto;
    margin-top: 2.8%;
    font-size: medium;
    padding: 0.8rem;
}

.marquee-container{
    margin-top: 8%;
    border-top: 1px solid var(--primary);
    padding: 0.5rem;
    
    font-size: 1.2rem;
    border-bottom: 1px solid var(--primary);
    white-space: nowrap;
    overflow: hidden;
}

.marquee-container .marquee{
    animation: scroll 15s linear infinite;
}


/* Tech stack section */
.tech-stack-package{
    width: 65%;
    border: 1px solid var(--primary);
    border-radius: 0 var(--radius-size) var(--radius-size) 0;
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: 0.4rem;

    display: flex;
    flex-direction: row;
}
.tech-stack-package .tech-stack-item{
    margin-inline: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.tech-stack-package .tech-stack-item .content{
    width: 4rem;
    height: auto;
}

.tech-stack-package-right{
    margin-left: auto;
    margin-right: 0;
}


.right-position{
    margin-left: auto;
    margin-right: 0;
}