:root{
    --primary: #d87d0f; /* orange button */
    --primary-dark: #b2640f; /* orange button */
    --foreground: white; /* seconda text color - white */  
    --text-basic: #131416; /* first text color - black  */ 
    --background-basic: #131516; /* white backgroun with points  */
    --radius-size: 0.2rem;
    --card-height: 22rem;


    --up-gradient-color-1: rgb(199, 10, 114);
    --up-gradient-color-2: rgba(245, 207, 82, 0.8);

    --down-gradient-color-1: rgba(245, 207, 82, 0.8);
    --down-gradient-color-2: rgba(199, 10, 114);


    --left-gradient-color-1: rgba(26, 248, 18, 0.6);
    --left-gradient-color-2: rgba(199, 10, 53, 0.8);
}

*{
    margin: 0;
    padding: 0;
    color: var(--text-basic);
    transition-duration: 0.5s;
}

.background-layer{
    z-index: -10;
}

html {
  scroll-behavior: smooth;
}

h2, h3{
    text-align: center;
    margin-top: 2rem;
}
h2{
    font-size: x-large;
}

a{
    text-decoration: none;
    color: var(--text-basic);
    display: inline-block;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0.5rem;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: 1;
}

nav > *{
    margin-inline: auto;
}
nav > .logo{
    margin-left: 2rem;
    margin-right: 0;
    width: 4rem;
}

nav > .links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    margin-left: 4rem;
}

nav > .links li{
    margin-inline: 1rem;
}
nav > .links li > a{
    padding: 0.8rem;
    padding-inline: 1.5rem;
    font-weight: bold;
    font-size: 1.2rem;
}
nav > .links li > a:hover{
    color: var(--primary);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--primary);
}

.btn{
    background-color: var(--primary);
    padding: 0.5rem;
    padding-inline: 1rem;
    border: none;
    border-radius: 0.2rem;
    font-weight: bold;
    color: var(--foreground);
}
.btn:hover{
    background-color: var(--primary-dark);
}

.header-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
.header-contact img {
    width: 3rem;
    height: 3rem;
}

#contact-btn{
    margin-right: 4rem;
    padding-inline: 2rem;
    cursor: pointer;
}

#main-title{
    color: var(--primary);
    text-align: center;
    margin-top: 10%;
    font-size: 3.5rem;
}
#main-description{
    text-align: center;
    max-width: 300px;
    margin-inline: auto;
    margin-top: 3%;
    font-size: larger;
}

#main-download-btn{
    display: block;
    margin-inline: auto;
    margin-top: 2.8%;
    font-size: medium;
    padding: 0.8rem;
}

.marquee-container{
    margin-top: 8%;
    border-top: 1px solid var(--primary);
    padding: 0.5rem;
    
    font-size: 1.2rem;
    border-bottom: 1px solid var(--primary);
    white-space: nowrap;
    overflow: hidden;
}

.marquee-container .marquee{
    animation: scroll 15s linear infinite;
}


/* Tech stack section */
.tech-stack-package{
    width: 65%;
    border: 1px solid var(--primary);
    border-radius: 0 var(--radius-size) var(--radius-size) 0;
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: 0.4rem;

    display: flex;
    flex-direction: row;
}
.tech-stack-package .tech-stack-item{
    margin-inline: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.tech-stack-package .tech-stack-item .content{
    width: 4rem;
    height: auto;
}

.tech-stack-package-right{
    margin-left: auto;
    margin-right: 0;
}


.right-position{
    margin-left: auto;
    margin-right: 0;
}

#project{
    /* border: 1px solid black; */
    padding: 3rem;
}

.flex-row-center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}
.card{
    border: 1px solid var(--primary);
    width: 25rem;
    margin-top: 2rem;
    margin-inline: 1.5rem;
    min-height: var(--card-height);
    /* max-height: var(--card-height);  */
    border-radius: var(--radius-size);
}

.card .img-container{
    height: calc(var(--card-height)/1.5);
}
.img-container .img{
    width: 100%;
    height: auto;
}
.card .card-description{
    text-align: justify;
    padding: 0.5rem;
}

.content-container{
    padding: 0.5rem;
    padding-bottom: 0;
}
.card .card-footer{
    padding-inline: 0.5rem;
}
.card-footer button{
    background-color: var(--primary);
    color: white;
    font-weight: bold;
    padding: 0.4rem;
    border: none;
    border-radius: var(--radius-size);
    margin-bottom: 0.5rem;
    cursor: pointer;

}

.card-footer button:hover{
    background-color: var(--primary-dark);
}

#contact-title {
    margin-top: 5rem;
}

.w-40{
    width: 40%;
    margin-inline: auto;
}

.w-40 > *{
    vertical-align: top;
}

.section{
    padding: 3rem;
    display: inline-block;
    width: calc(100% - 6rem);
    /* border: 1px solid red; */
}
.contact-form-container{
    margin-top: 0;
    width: 50%;
    max-width: 500px;
    margin-inline: auto;
}

.contact-form-container > .form {
    width: 100%;
}
.form{
    display: flex;
    flex-direction: column;
}

.form > .form-item {
    margin-top: 0.4rem;
    padding: 0.4rem;
}
.form > .form-item > *{
    width: 100%;
    padding: 0.4rem 0 0.4rem 0;
    font-size: medium;
}